{metadata}
    {$title = "Aurora | Docs"}
    {$description = ""}
    {$keywords = ""}
{/metadata}


{body}
    include{forms}
    include{introduction}
    include{usage}
    include{storage}
    include{templates}
    include{variables}
    include{language}
    include{cache}
    include{router}
    include{using}
    include{blockBased}
    include{usingVariables}
    include{calculations}
    include{include}
    include{import}
    include{resources}
    include{controlStructures}
    include{ternaryOperator}
    include{macros}
    include{customMacros}
    include{forms}
    include{customForms}
    include{customPHPForms}
    include{curlyBrackets}
    include{errorHandling}
{/body}